@use "../../../partials/mixin" as *;
@use "../../../partials/typography" as *;
@use "../../../partials/variables" as *;

.detail-header {
    
    @include flex-direction-wrap(row,nowrap);
    justify-content: flex-end;
    margin-top: 1rem;

    &__add {
        margin-right: 1rem;
        background-color: darkcyan;
        border: 1px solid darkcyan;
        border-radius: 1rem;
        color: whitesmoke;
        width: 4rem;
        height: 2rem;
        font-weight: 700;
        font-family: sans-serif;
    }

    &__edit {
        margin-right: 1rem;
        background-color: darkcyan;
        border: 1px solid darkcyan;
        border-radius: 1rem;
        color: whitesmoke;
        width: 4rem;
        height: 2rem;
        font-weight: 700;
        font-family: sans-serif;
    }

    &__delete {
        margin-right: 1rem;
        background-color: white;
        border: 1px solid white;
        border-radius: 1rem;
        color: black;
        width: 4rem;
        height: 2rem;
        font-weight: 700;
        font-family: sans-serif;
    }
}