@use "../../../partials/mixin" as *;
@use "../../../partials/typography" as *;
@use "../../../partials/variables" as *;


.edit-item {
    border: 3px solid white;
    height: 90vh;
    margin-left: 1.5rem;
    width: 55vw;
    background-color: #202020;

    &__form {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 0 2rem;
    }
    
    &__form-box {
        width: 100%;
    }

    &__row {
        @include flex-direction-wrap(column, nowrap);
        align-items: flex-start;
        width: 100%;
        margin-bottom: 4rem;
    }

    &__row-first-box {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
    }

    &__label {
        margin:0;
        font-size: 1.5rem;
        color: white;
    }
    
    &__optional-input {
        padding-left: 1rem;
        margin-left: 1rem;
        width: 56%;
        height: 2rem;
        margin: 0;
        font-size: 1.5rem;
        border-radius: 1rem;
        border: 1px solid white;
    }
    
    &__input {
        padding-left: 1rem;
        margin-left: 1rem;
        width: 50%;
        height: 2rem;
        margin:0;
        font-size: 1.5rem;
        border-radius: 1rem;
        border: 1px solid white;
    }

    &__button-box {
        padding: 0 1rem;
        align-self: center;
        height: 2rem;
        border: 1px solid darkcyan;
        background-color: darkcyan;
        color: white;
        border-radius: 1rem;
        font-family: sans-serif;
        font-size: 20px;
        font-weight: 500;
        align-self: flex-end;
    }

    &__button{
        color: white;
        font-size: larger;
        background-color: darkcyan;
        border: 1px solid darkcyan;
    }

    &__form-header{
        font-family: sans-serif;
        margin: 2.5rem 0;
        font-size: 2rem;
        color: whitesmoke;
    }
}