@use "../../../partials/mixin" as *;
@use "../../../partials/typography" as *;
@use "../../../partials/variables" as *;

.calculatorBox {
    background-color: rgb(32,32,32);
    width: 45vw;
    height: 31%;
    border: 3px solid white;
    margin: 1rem;
    @include flex-direction-wrap(column,nowrap);

    &__sub-total {
        @include flex-direction-wrap(row,nowrap);
        justify-content: space-between;
        padding: 0 1rem;
        color: white;
    }

    &__tax {
        @include flex-direction-wrap(row,nowrap);
        justify-content: space-between;
        padding: 0 1rem;
        color: white;
    }

    &__quantity {
        @include flex-direction-wrap(row,nowrap);
        justify-content: space-between;
        padding: 0 1rem;
        color: white;
    }

    &__purchase-button {
        padding: 0 1rem;
        align-self: center;
        width: 50%;
        height: 2rem;
        border: 1px solid darkcyan;
        background-color: darkcyan;
        color: white;
        border-radius: 1rem;
        font-family: sans-serif;
        font-size: 20px;
        font-weight: 500;
    }

    &__sub-total-text {
        font-family: sans-serif;
    }

    &__sub-total-content {
        font-family: sans-serif;
    }

    &__tax-text {
        font-family: sans-serif;
    }

    &__tax-text {
        font-family: sans-serif;
    }

    &__quantity-text {
        font-family: sans-serif;
    }

    &__quantity-text {
        font-family: sans-serif;
    }
}