@use "../../../partials/mixin" as *;
@use "../../../partials/typography" as *;
@use "../../../partials/variables" as *;

.logBox {
    background-color: rgb(32,32,32);
    width: 45vw;
    height: 60%;
    border: 3px solid white;
    margin: 1rem 1rem 0 1rem;
    
    &__header {
        width: 100%;
        border-bottom: 3px solid white;
        @include flex-direction-wrap(row,nowrap);
        justify-content: space-around;
    }

    &__order-box {
        @include flex-direction-wrap(column,nowrap);
    }

    &__single-item {
        @include flex-direction-wrap(row,nowrap);
        justify-content: space-around;
        align-items: center;
        color: white;
        font-family: sans-serif;
    }

    &__header-id {
        font-size: 1rem;
        width: 20%;
        font-family: sans-serif;
        color: white;
    }

    &__header-name {
        font-size: 1rem;
        width: 20%;
        font-family: sans-serif;
        color: white;
    }

    &__header-quantity {
        font-size: 1rem;
        width: 20%;
        font-family: sans-serif;
        color: white;
    }

    &__header-price {
        font-size: 1rem;
        width: 20%;
        font-family: sans-serif;
        color: white;
    }

    &__id {
        font-size: 1rem;
        width: 20%;
        font-family: sans-serif;
        color: white;
    }

    &__name {
        font-size: 0.8rem;
        width: 20%;
        font-family: sans-serif;
        color: white;
    }

    &__quantity {
        width: 20%;
        font-family: sans-serif;
        color: white;
    }
    
    &__input {
        width: 20%;
        font-family: sans-serif;
        color: black;
        height: 1rem;
        border-radius: 1rem;
        border: 1px solid white;
        text-align: center;
    }

    &__price {
        font-size: 1rem;
        width: 20%;
        font-family: sans-serif;
        color: white;
    }

}