@use "../../partials/mixin" as *;
@use "../../partials/typography" as *;
@use "../../partials/variables" as *;


.header {
    @include flex-direction-wrap(row, nowrap);
    justify-content: flex-start;
    background-color: black;
    align-items: center;
    height: 4rem;
    
    @include tablet-breakpoint {
        height: 3rem;
    }

    &__logo {
        @include header-item;
        margin-left: 3px;
        width: 8rem;
        height: 8rem;
    }

    &__main {
        @include header-item;
        
        @include tablet-breakpoint {
            margin: 0 1rem;
            color: white;
            font-family: sans-serif;
        }
    }

    &__products {
        @include header-item;
        
        @include tablet-breakpoint {
            margin: 0 1rem;
            color: white;
            font-family: sans-serif;
        }
    }
    
    &__log-out {
        @include header-item;
        
        @include tablet-breakpoint {
            margin-left: 52.5%;
            color: white;
            font-family: sans-serif;
        }
    }
}