@use "../../../partials/mixin" as *;
@use "../../../partials/typography" as *;
@use "../../../partials/variables" as *;


.detail-box {
    border: 3px solid white;
    width: 55vw;
    height: 90vh;
    margin-left: 1.5rem;
    background-color: #202020;

    &__detail-box {
        @include flex-direction-wrap(column, nowrap);
        height: 80vh;
        margin-top: 3rem;
        padding: 0 1rem;
    }

    &__selected-item-box{
        @include flex-direction-wrap(row, nowrap);
        align-items: baseline;
        height: 10%;
    }
    
    &__selected-description-box{
        @include flex-direction-wrap(row, nowrap);
        align-items: baseline;
        height: 35%;
    }

    &__title {
        color: white;
        width: 30%;
        margin:0;
        font-size: 1.5rem;
    }
    
    &__content {
        color: whitesmoke;
        padding-left: 2rem;
        width: 70%;
        margin:0;
        font-size: 1.5rem;
    }
    &__delete {
        align-self: flex-end;
        margin-top: 1rem;
        padding: 0 1rem;
        width: 40%;
        height: 3rem;
        border: 4px solid darkcyan;
        background-color: #202020;
        color: whitesmoke;
        border-radius: 1rem;
        font-family: sans-serif;
        font-size: 1.3rem;
    }
}