@use "../../../partials/mixin" as *;
@use "../../../partials/typography" as *;
@use "../../../partials/variables" as *;


.detail-box {
    border: 1px solid black;
    width: 60vw;
    height: 90vh;
    margin-left: 1rem;

    &__detail-box {
        @include flex-direction-wrap(column, nowrap);
        height: 80vh;
        margin-top: 3rem;
        padding: 0 1rem;
    }

    &__selected-item-box{
        @include flex-direction-wrap(row, nowrap);
        align-items: baseline;
        height: 15%;
    }

    &__title {
        width: 30%;
        margin:0;
        font-size: 1.5rem;
    }
    
    &__content {
        padding-left: 1rem;
        width: 70%;
        margin:0;
        font-size: 1.5rem;
    }
}