@use "../../partials/mixin" as *;
@use "../../partials/typography" as *;
@use "../../partials/variables" as *;

.products {

    &__body {
        @include flex-direction-wrap(row,nowrap);
        height: 96vh;
        padding-top: 1rem;
        justify-content: center;
        background-color: rgb(48,48,48);
    }
}