@use "../../partials/mixin" as *;
@use "../../partials/typography" as *;
@use "../../partials/variables" as *;


.main {
    
    &__body {
        @include flex-direction-wrap(row,nowrap);
        background-color: rgb(48,48,48);
        height: 95vh;
    }

    &__sub-box {
        @include flex-direction-wrap(column,nowrap);
        align-items: center;
    }

}