$pos-black: #13182C;
$pos-aqua: #00FFFF;
$pos-white: #FFFFFF;

$pos-indigo: #2E66E6;
$pos-red: #C94515;
$pos-green: #158463;
$pos-graphite: #232940;
$pos-light-grey: #F7F8F9;
$pos-cloud: #BDC5D5;
$pos-slate: #5C667E;


$tablet-start: 768px;
$desktop-start: 1280px;